# pre_trained_models directories
pre_trained_models*/
**/data/**
Pairs/
runs/
**/*.zip/**
**/*.svg/**
**/*.drawio/**
**/*.bkp/**
**/*.log/**
**/*.pth/**
**/*.ckpt/**
**/*.png/**
log*.txt
**/environment.*/**
**/__pycache__/**
**/*.npz/**
*.drawio*